<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
<div class="input-group">
  <label for="name">Nombre</label>
  <input type="text" name="name" required="" id="name" [(ngModel)]="register.name"/>
  <p>Mensajes de error</p>
</div>

<div class="input-group">
  <label for="email">Email</label>
  <input type="email" name="email" required id="email" [(ngModel)]="register.email"/>
  <p>Mensajes de error</p>
</div>

<div class="input-group">
  <label for="password">Contraseña</label>
  <input type="password" name="password" required id="password" [(ngModel)]="register.password"/>
  <p>Mensajes de error</p>
</div>
<button [disabled]="myForm.invalid" type="submit">Registrar</button>
<button type="button">Accion</button>
</form>
<hr/>


<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid
}"/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<hr/>
<h1>Class & Style</h1>
<input  type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.active]="nameInput2.invalid">El campo es requerido</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display':'block'
    }">

    </div>
  </div>
</div>


<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' ">Text texto texto</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg"/>
  </div>  
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar"/>
  </div>
</div>

<hr/>
<!-- Estructuras de control -->
<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'efrain'">
    La persona es efrain
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es efrcamimloain
  </p>
  <p *ngSwitchDefault="">No teien coincidencias</p>
</div>
<hr/>

<!-- <h1>*ngFor []</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image"/>
    <h2>{{ product.price}}</h2>
    <p>{{ product.name}}</p>
  </div>
</div>
<hr/> -->

<h1>*ngFor [] Objts</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image"/>
    <h2>{{ product.price}}</h2>
    <p>{{ product.name}}</p>
  </div>
</div>
<hr/>


<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Borrar Nombre</button>
  </li>
</ul>
<hr/>


<h1>*ngIf</h1>
<p *ngIf="person.name === 'Gnomo'">Mi nombre es {{person.name}}</p>
<p *ngIf="person.name !== 'gnomo' && person.age===18; else elseBlock">Mi nombre correcto es {{person.name}}</p>
<ng-template #elseBlock>
  <p>Prueba else</p>
</ng-template>
<hr/>
<!-- Form -->
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" [(ngModel)]="person.name" #nameInput="ngModel" required/>
<p>Valid:{{nameInput.valid}}</p>
<hr/>
<p>Edad {{person.age}}</p>
<input type="number" [(ngModel)]="person.age" #ageInput="ngModel" required max="18" min="5"/>
<p>Valid:{{ageInput.valid}}</p>
<hr/>
<!-- Event Binding Listener-->
<h1>Eventos 2</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>Parrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomoParrafo gnomo gnomo  gnomo gnomo gnomo gnomo gnomo gnomo gnomo gnomo gnomo gnomo gnomo gnomo</p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<!-- Event Binding -->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar Gnomo</button>
<button (click)="toggleButton()">Activar/Desactivar Gnomo</button>
<button (click)="addButton()">Edad ++</button>
<p>{{person.age}}</p>
<hr/>
<!-- Property Binding -->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar Gnomo</button>
<!-- <input type="text" [value]="age"/> -->
<!-- <progress max="100" [value]="age"></progress> -->
<!-- <img width="100" [src]="img" alt="imgGnomo" srcset=""> -->
<input type="text" [value]="person.age"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>
<!-- String interpolation -->
<h1>Hola Gnomo</h1>
<h2>{{'Hola Gnomo'.repeat(10)}}</h2><!-- interpolar es una variable -->
<p>5 + 5 = {{5+5}}</p>
<h3>Hola, soy {{person.name}} y tengo {{age}}</h3>
<img width="100" src={{img}} alt="imageGnomo">
